name: E2E Test
on:
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to checkout'
        required: false
        type: string
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  publish-e2e-app:
    if: ${{ !startsWith(github.event.head_commit.message, '[bot] Release') }}
    runs-on: ubuntu-latest
    environment:
      name: Only Main
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          ref: ${{ inputs.ref || github.ref }}
      - name: Setup jdk
        uses: actions/setup-java@91d3aa4956ec4a53e477c4907347b5e3481be8c9 # v2.5.1
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Build e2e app
        run: ./gradlew assembleRelease

      - name: Upload e2e app
        run: |
          curl --fail-with-body -L -X POST \
            -F "file=@./e2e/build/outputs/apk/release/e2e-release-unsigned.apk" \
            -H "Authorization: Token ${{ secrets.MAGICPOD_API_TOKEN }}" \
            "https://app.magicpod.com/api/v1.0/Nubrick.app/Nubrick/upload-file/"
