name: Publish to Maven Central
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'
jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: Only Main
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Setup jdk
        uses: actions/setup-java@91d3aa4956ec4a53e477c4907347b5e3481be8c9 # v2.5.1
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: make archive
        run: |
          GPG_SIGNING_KEY=$(echo $GPG_SIGNING_KEY_BASE64 | base64 --decode) ./gradlew makeArchive
        env:
          GPG_SIGNING_KEY_BASE64: ${{ secrets.GPG_SIGNING_KEY }}
          GPG_SIGNING_KEY_PASSPHRASE: ${{ secrets.GPG_SIGNING_KEY_PASSPHRASE }}
      - name: publish to maven central
        run: |
          ls nubrick/build/distributions
          curl --fail-with-body --request POST \
            --header "Authorization: Bearer $(echo "$SONATYPE_USERNAME:$SONATYPE_PASSWORD" | base64)" \
            --form bundle="@nubrick/build/distributions/$(ls nubrick/build/distributions)" \
            'https://central.sonatype.com/api/v1/publisher/upload?publishingType=AUTOMATIC'
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
